.opacityFix {
    background-color: #00000071 !important;
}

.welcome {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    padding-top: 15%;
    padding-left: 10%;
    color: white;
}

.parallax {
    /* The image used */
    background-image: url("../img/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}